*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
database/migrations/2025_12_10_162136_000001_create_regions_table.php
database/migrations/2025_12_10_162136_000002_create_provinces_table.php
database/migrations/2025_12_10_162136_000003_create_wards_table.php
database/migrations/2025_12_10_162136_000004_create_roles_table.php
database/migrations/2025_12_10_162136_000005_create_industries_table.php
database/migrations/2025_12_10_162136_000006_create_enterprises_table.php
database/migrations/2025_12_10_162136_000007_create_enterprise_translations_table.php
database/migrations/2025_12_10_162136_000008_create_enterprise_representatives_table.php
database/migrations/2025_12_10_162136_000009_create_enterprise_representative_translations_table.php
database/migrations/2025_12_10_162136_000010_create_enterprise_contacts_table.php
database/migrations/2025_12_10_162136_000011_create_brands_table.php
database/migrations/2025_12_10_162136_000012_create_product_categories_table.php
database/migrations/2025_12_10_162136_000013_create_products_table.php
database/migrations/2025_12_10_162136_000014_create_enterprise_documents_table.php
database/migrations/2025_12_10_162136_000015_create_enterprise_ocop_table.php
database/migrations/2025_12_10_162136_000016_create_users_table.php
database/migrations/2025_12_10_162136_000017_create_user_profiles_table.php
database/migrations/2025_12_10_162136_000018_create_social_accounts_table.php
database/migrations/2025_12_10_162136_000019_create_role_user_table.php
database/migrations/2025_12_10_162136_000020_create_role_permissions_table.php
database/migrations/2025_12_10_162136_000021_create_permissions_table.php
database/migrations/2025_12_10_162136_000022_create_modules_table.php
database/migrations/2025_12_10_162136_000023_create_categories_table.php
database/migrations/2025_12_10_162136_000024_create_directories_table.php
database/migrations/2025_12_10_162136_000025_create_templates_table.php
database/migrations/2025_12_10_162136_000026_create_media_table.php
database/migrations/2025_12_10_162136_000027_create_publishers_table.php
database/migrations/2025_12_10_162136_000028_create_pregnancy_weeks_table.php
database/migrations/2025_12_10_162136_000029_create_pregnancy_week_sections_table.php
database/migrations/2025_12_10_162136_000030_create_pregnancy_week_faqs_table.php
database/migrations/2025_12_10_162136_000031_create_posts_table.php
database/migrations/2025_12_10_162136_000032_create_post_basics_table.php
database/migrations/2025_12_10_162136_000033_create_post_redirects_table.php
database/migrations/2025_12_10_162136_000034_create_post_recipes_table.php
database/migrations/2025_12_10_162136_000035_create_post_recipe_ingredients_table.php
database/migrations/2025_12_10_162136_000036_create_post_recipe_instructions_table.php
database/migrations/2025_12_10_162136_000037_create_post_recipe_nutritions_table.php
database/migrations/2025_12_10_162136_000038_create_post_reviews_table.php
database/migrations/2025_12_10_162136_000039_create_post_review_links_table.php
database/migrations/2025_12_10_162136_000040_create_post_schools_table.php
database/migrations/2025_12_10_162136_000041_create_school_types_table.php
database/migrations/2025_12_10_162136_000042_create_post_school_school_type_table.php
database/migrations/2025_12_10_162136_000043_create_curriculums_table.php
database/migrations/2025_12_10_162136_000044_create_post_school_curriculum_table.php
database/migrations/2025_12_10_162136_000045_create_post_quotes_table.php
database/migrations/2025_12_10_162136_000046_create_post_views_table.php
database/migrations/2025_12_10_162136_000047_create_slug_histories_table.php
database/migrations/2025_12_10_162136_000048_create_category_post_table.php
database/migrations/2025_12_10_162136_000049_create_category_sort_configs_table.php
database/migrations/2025_12_10_162136_000050_create_post_redirect_logs_table.php
database/migrations/2025_12_10_162136_000051_create_tags_table.php
database/migrations/2025_12_10_162136_000052_create_post_tag_table.php
database/migrations/2025_12_10_162136_000053_create_ocop_categories_table.php
database/migrations/2025_12_10_162136_000054_create_events_table.php
database/migrations/2025_12_10_162136_000055_create_event_categories_table.php
database/migrations/2025_12_10_162136_000056_create_event_category_table.php
database/migrations/2025_12_10_162136_000057_create_standards_table.php
database/migrations/2025_12_10_162136_000058_create_product_groups_table.php
database/migrations/2025_12_10_162136_000059_create_product_group_relations_table.php
database/migrations/2025_12_10_162136_000060_create_product_images_table.php
database/migrations/2025_12_10_162136_000061_create_product_quality_standards_table.php
database/migrations/2025_12_10_162136_000062_create_distributors_table.php
database/migrations/2025_12_10_162136_000063_create_distributor_branches_table.php
database/migrations/2025_12_10_162136_000064_create_product_distributors_table.php
database/migrations/2025_12_10_162136_000065_create_coupons_table.php
database/migrations/2025_12_10_162136_000066_create_comments_table.php
database/migrations/2025_12_10_162136_000067_create_comment_paths_table.php
database/migrations/2025_12_10_162136_000068_create_ratings_table.php
database/migrations/2025_12_10_162136_000069_create_rating_summaries_table.php
database/migrations/2025_12_10_162136_000070_create_plan_categories_table.php
database/migrations/2025_12_10_162136_000071_create_subscription_plans_table.php
database/migrations/2025_12_10_162136_000072_create_plan_features_table.php
database/migrations/2025_12_10_162136_000073_create_user_subscriptions_table.php
database/migrations/2025_12_10_162136_000074_create_transactions_table.php
database/migrations/2025_12_10_162136_000075_create_subscription_logs_table.php
database/migrations/2025_12_10_162136_000076_create_url_shorteners_table.php
database/migrations/2025_12_10_162136_000077_create_jobs_table.php
database/migrations/2025_12_10_162136_000078_create_failed_jobs_table.php
database/migrations/2025_12_10_162136_000079_create_editor_images_table.php
database/migrations/2025_12_10_162136_000080_create_audits_table.php
database/migrations/2025_12_10_162136_000081_create_verification_requests_table.php
database/migrations/2025_12_10_162136_000082_create_verification_request_changes_table.php
database/migrations/2025_12_10_162136_000083_create_test_table_table.php
