@import '../components/basic.css';
@import '../components/header.css';
@import '../components/navigation.css';
@import '../components/breadcrumb.css';
@import '../components/category.css';
@import '../components/single-post.css';
@import '../components/sidebar.css';
@import '../components/footer.css';

.btn-default {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 15px;
    line-height: 1;
    padding: 12px 25px;
    letter-spacing: 1px;
    transition: .3s;
}

.btn-default:hover {
    background-color: #72bca3;
    color: #fff;
}

.backdrop:before {
    content: "";
    display: block;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
}

.login-section {
    background: #fbd1b7;
    color: gray;
    padding: 7em 0;
    min-height: 100vh;
}