@import '../components/basic.css';
@import '../components/header.css';
@import '../components/navigation.css';
@import '../components/breadcrumb.css';
@import '../components/category.css';
@import '../components/single-post.css';
@import '../components/sidebar.css';
@import '../components/footer.css';

.btn-default {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 15px;
    line-height: 1;
    padding: 12px 25px;
    letter-spacing: 1px;
    transition: .3s;
}

.btn-default:hover {
    background-color: #72bca3;
    color: #fff;
}

.backdrop:before {
    content: "";
    display: block;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
}
/* Glidejs Start */
.glide-slider .glide__bullets {
    bottom: 0;
}

.glide-slider .glide__bullet {
    width: 12px;
    height: 12px;
    transition: .3s;
    cursor: pointer;
    background-color: #000;
    opacity: .2;
}
.glide-slider .glide__bullet:hover, 
.glide-slider .glide__bullet:focus {
    border: 0;
    background-color: #000;
    opacity: .2;
    border-radius: 50%;
}

.glide-slider .glide__bullet.glide__bullet--active {
    background-color: var(--primary-color);
    opacity: 1;
    width: 30px;
    border-radius: 8px;
}
/* Glidejs End */

/* Swiper Start */

.swiper {
    visibility: hidden; /* Ẩn tạm để tránh FOUC */
    opacity: 0;
    transition: opacity 0.3s ease; 
    height: auto; 
    min-height: 0; 
    min-width: 0; 
}

.swiper-wrapper {
    display: flex;
    height: auto; 
}

.swiper-initialized {
    visibility: visible;
    opacity: 1;
}

/* Uninitialized state (extra hiding for FOUC) */
.swiper:not(.swiper-initialized) {
    opacity: 0;
    transition: opacity 0.3s;
}

.swiper-slide {

}

/* Override cho uninitialized để fix height vỡ do flex-shrink: 0; default */
.swiper:not(.swiper-initialized) .swiper-slide {
    flex-shrink: 1; /* Cho phép co tạm thời trong load, tránh height phồng */
    height: auto; /* Dynamic height */
}

.post-card.skeleton {
    width: 100%;
    height: 100%;
}

/* Swiper End */
.ratio {
    position: relative;
    width: 100%;
}

.ratio::before {
    display: block;
    padding-top: 56.25%;
    content: "";
}

.ratio > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.glide--swipeable {
    touch-action: pan-y;
}

.meta-info {
    display: flex;
    align-items: center;
}

.meta-info .meta-item {
    margin-right: 15px;
}

.meta-info .category {
    margin-bottom: 0;
    margin-right: 15px;
}

/* Highlight Start */
.section-highlight {
    background-color: #fcfcfc;
    padding: 30px 0 15px;
}

@media (min-width: 992px) {
    .section-highlight {
        padding: 60px 0 40px;
    }
}

.post-thumbnail {
    overflow: hidden;
    background-color: #f8f8f8;
}

.post-thumbnail img {
    width: 100%;
    height: auto;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.post-card {
    position: relative;
    margin-bottom: 45px;
}

.post-card.skeleton {
    width: 100%;
    height: 100%; 
}

.post-card .post-thumbnail {
    position: relative;
}

.post-card:hover .post-thumbnail img {
    scale: 1.05;
    filter: brightness(1.1);
}

.post-card .favorite {
    width: initial;
    height: initial;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 20px;
    line-height: 0;
    letter-spacing: 1px;
    padding: 7px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10px;
    top: 10px;
    opacity: 0;
    text-transform: uppercase;
    transition: 1s;
}

.post-card .favorite i {
    color: #fff;
    margin-right: 5px;
}

.post-card .entry-title {
    font-family: var(--default-font-family);
    font-size: 16px;
    line-height: 25px;
    margin-top: 20px;
    height: 50px;
    overflow: hidden;
}

@media (min-width: 992px) {
    .post-card .entry-title {
        font-size: 17px;
        line-height: 1.4;
        height: initial;
        height: 60px;
    }
}

.post-card .entry-title a {
    color: #000;
}

.post-card .excerpt {
    line-height: 25px;
    height: 75px;
    overflow: hidden;
    font-family: var(--default-font-family);
    font-size: 14px;
    color: #595959;
}

@media (min-width: 992px) {
    .post-card .excerpt {
        font-size: 16px;
        line-height: 1.6;
        height: initial;
    }
}

.post-card .meta-info {
    font-family: var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    color: #595959;
}

.post-card .category,
.post-card .tags-link {
    background-color: #90beed;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 15px;
    line-height: 1;
    padding: 8px 16px;
    transition: 0.3s;
    white-space: nowrap;
    display: inline-block;
}

.calendar-card,
.v-card-2,
.v-card-3 {
    border: 1px solid #dedede;
    border-radius: 10px;
    overflow: hidden;
}

.calendar-card .meta-box,
.v-card-2 .meta-box,
.v-card-3 .meta-box {
    padding: 20px;
}

.calendar-card .entry-title,
.v-card-2 .entry-title,
.v-card-3 .entry-title {
    margin-top: 0;
}

.v-card-3 .meta-info {
    margin-top: 20px;
}

.highlight-card {
    align-items: center;
}

.highlight-card .post-thumbnail {
    border-radius: 10px;
}

@media (min-width: 992px) {
    .highlight-card .entry-title {
        font-size: 22px;
        line-height: 1.4;
        margin-top: 0;
        min-height: initial;
        max-height: 135px;
        height: initial;
    }
}

/* Highlight End */

.section-slide {
    overflow: hidden;
}

.section-slide .column-title {
    background-color: #fcb547;
    display: flex;
    justify-content: center;
    padding: 40px 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media (min-width: 992px) {
    .section-slide .column-title {
        width: calc(20% + 24px);
    }
}

@media (min-width: 992px) {
    .section-slide .column-title {
        padding: 30px 30px 30px 0;
        justify-content: flex-end;
        align-items: center;
    }
}

.section-slide .column-title .text-block {
    width: calc(100% - 84px);
    text-align: center;
}

.section-title {
    text-transform: uppercase;
    color: #000;
    font-family: Kanit, serif;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

@media (min-width: 992px) {
    .section-title {
        font-size: 25px;
        margin-bottom: 45px;
    }
}

.section-title.divider {
    position: relative;
    padding-bottom: 25px;
    background: transparent;
    height: auto;
}

@media (min-width: 992px) {
    .section-title.divider {
        padding-bottom: 40px;
    }
}

.section-title.divider::before {
    content: "";
    display: block;
    width: 112px;
    height: 4px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #f26e48 50%, #72bca3 50%);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.section-title .color {
    color: #f26e48;
}

.section-slide .column-title .section-title {
    margin-bottom: 25px;
}

@media (min-width: 992px) {
    .section-slide .column-title .section-title {
        margin-bottom: 30px;
    }
}

.section-slide .column-title .section-title img {
    max-height: 130px;
}

.section-slide .column-post {
    background-color: #fff;
}

@media (min-width: 992px) {
    .section-slide .column-post {
        width: calc(80% - 24px);
        padding-left: 24px;
    }
}

@media (min-width: 992px) {
    .section-slide .column-post .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 992px) {
    .section-slide .glide-subbrand {
        margin-right: -18.5%;
    }
}

.section-slide .post-card {
    margin-bottom: 0;
}

.read-all {
    position: relative;
    color: #fff;
    letter-spacing: 1px;
    background-color: #2667a9;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    line-height: 1;
    padding: 13px 25px 10px;
    transition: 0.3s;
}

.read-all::after,
.read-all::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #083e74;
    position: absolute;
    transition: 0.5s;
}

.read-all::before {
    left: -9px;
    top: 0;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.read-all::after {
    top: 0;
    right: -9px;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
}

/* School Visit Start */
.section-school-visit {
    padding-bottom: 25px;
}

@media (min-width: 992px) {
    .section-school-visit {
        padding-bottom: 60px;
    }
}

.section-school-visit.section-slide .column-title {
    background: #fcb547 url(../../../assets/web/styles/images/bg_school_visit_mobile.svg) no-repeat
        center bottom;
    background-size: contain;
}

@media (min-width: 992px) {
    .section-school-visit.section-slide .column-title {
        background: #fcb547 url(../../../assets/web/styles/images/bg_school_visit.svg) no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;
        background-position: -25px center;
    }
}

/* School Visit End */

/* Baby Kids Award Start */
.section-vgd-awards {
    background-color: #72bca3;
    background-image: url(../../../assets/web/styles/images/bg_left_vgd_awards.svg),
        url(../../../assets/web/styles/images/bg_right_vgd_awards.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left center, right bottom;
    padding: 90px 0 0;
}

@media (min-width: 992px) {
    .section-vgd-awards {
        padding: 90px 0 60px;
    }
}

.section-vgd-awards 
.header-vgd-awards {
    position: relative;
    text-align: center;
}

.section-vgd-awards .header-vgd-awards .section-title {
    position: absolute;
    top: -180px;
    left: 0;
    padding: 25px;
    background-color: #72bca3;
    border-radius: 50%;
}

.section-vgd-awards .header-vgd-awards .read-all {
    display: inline-block;
    padding: 13px 20px 10px 25px;
}

@media (min-width: 992px) {
    .section-vgd-awards .header-vgd-awards .read-all {
        position: absolute;
        top: -100px;
        right: 0;
    }
}

.section-vgd-awards .post-card {
    background-color: #fff;
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .section-vgd-awards .post-card.v-card-3 {
        border: none;
    }
}
/* Baby Kids Award End */

/* Pregnancy Start */
.section-pregnancy-wrapper {
    padding: 60px 0;
    background-image: url(../../../assets/web/styles/img/sign-pregnancy.svg),
        linear-gradient(to bottom, #fff 35%, #e7e7e7 100%);
    background-repeat: no-repeat;
    background-position: top right;
}

.section-pregnancy-wrapper .section-title .description {
    display: block;
    font-size: 16px;
    letter-spacing: 0;
    margin-top: 10px;
}

@media (min-width: 992px) {
    .section-pregnancy-wrapper .section-title .description {
        font-size: 18px;
    }
}

.step-card .week-item {
    position: relative;
    border: 1px solid #02467C;
    background-color: #FFF;
    border-radius: 5px;
    margin-right: 15px;
    color: #02467C;
}

.step-card .week-item .pregnancy {
    display: flex;
    padding: 10px 0 15px;
}

.step-card .week-item .pregnancy .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    line-height: 1.4;
}

.step-card .week-item .pregnancy .left .number {
    font-weight: bold;
    font-size: clamp(0.1rem, 1.5rem, 36px);
    line-height: 20px;
}

.step-card .week-item .pregnancy .right {
    width: 60px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    align-self: flex-end;
}

.step-card .week-item .pregnancy .right img {
    flex: none;
    max-width: 100%;
    max-height: 100%;
}
/* Pregnancy End */