@font-face {
    font-family: 'Be-Vietnam-Pro-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../webfonts/BeVietnamPro/BeVietnamPro-Regular.woff2') format('woff2'),
         url('../webfonts/BeVietnamPro/BeVietnamPro-Regular.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Be-Vietnam-Pro-Italic';
    font-style: italic;
    font-weight: 400;
    src: url('../webfonts/BeVietnamPro/BeVietnamPro-Italic.woff2') format('woff2'),
         url('../webfonts/BeVietnamPro/BeVietnamPro-Italic.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Be-Vietnam-Pro-Medium';
    font-style: normal;
    font-weight: 500;
    src: url('../webfonts/BeVietnamPro/BeVietnamPro-Medium.woff2') format('woff2'),
         url('../webfonts/BeVietnamPro/BeVietnamPro-Medium.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Be-Vietnam-Pro-SemiBold';
    font-style: normal;
    font-weight: 600;
    src: url('../webfonts/BeVietnamPro/BeVietnamPro-SemiBold.woff2') format('woff2'),
         url('../webfonts/BeVietnamPro/BeVietnamPro-SemiBold.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Be-Vietnam-Pro-Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../webfonts/BeVietnamPro/BeVietnamPro-Bold.woff2') format('woff2'),
         url('../webfonts/BeVietnamPro/BeVietnamPro-Bold.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'icomoon';
    src: url('../webfonts/icomoon/icomoon-01-08-25.woff?v=1.6') format('woff'),
         url('../webfonts/icomoon/icomoon-01-08-25.svg?v=1.6#icomoon') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}