.site-footer {
    padding: 40px 0;
    background: var(--secondary,#E3E3E3);
    font-size: 14px;
}

.site-footer > .container > * {
    border-bottom: 1px solid #c1c1c1;
}

.site-footer .menu-wrap {
    display: grid;
    gap: 16px;
    padding-bottom: 16px;
}

.site-footer .menu-wrap .rank-1,.site-footer .menu-wrap .rank-2 {
    display: flex;
    flex-flow: row wrap;
    gap: 16px 0
}

.site-footer .menu-wrap .rank-1 a,.site-footer .menu-wrap .rank-2 a {
    width: 150px;
    display: inline-flex
}

.site-footer .menu-wrap .rank-1 a {
    font-weight: 700;
    text-transform: uppercase
}

.site-footer .menu-wrap .rank-2 a:last-child {
    width: 160px
}

.site-footer .contact-wrap {
    display: grid;
    grid-template-columns: repeat(4,250px);
    align-items: flex-start;
    gap: 16px;
}

.site-footer .contact-wrap .item {
    border-left: 1px solid #c1c1c1;
    display: flex;
    padding: 16px 0;
    padding-left: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch
}

.site-footer .contact-wrap .item:first-child {
    border: none;
    padding-left: 0;
}

.site-footer .contact-wrap .item .title {
    font-weight: 700;
    text-transform: uppercase
}

.site-footer .contact-wrap .item .text {
    display: flex;
    align-items: center;
    gap: 6px
}

.site-footer .contact-wrap .item .text i {
    color: var(--primary-color);
    font-size: 16px;
}

.site-footer .contact-wrap .item .text .ic-facebook,.site-footer .contact-wrap .item .text .ic-tiktok,.site-footer .contact-wrap .item .text .ic-youtube,.site-footer .contact-wrap .item .text .img-ggnews,.site-footer .contact-wrap .item .text .img-zalo {
    font-size: 24px;
    margin-right: 20px
}

.site-footer .contact-wrap .item .text .ic-facebook {
    font-size: 24px;
    color: #007dc4
}

.site-footer .contact-wrap .item .text .ic-youtube {
    font-size: 24px;
    color: #c21818
}

.site-footer .contact-wrap .item .text .ic-tiktok {
    font-size: 24px;
    color: var(--title)
}

.site-footer .contact-wrap .item address {
    margin-bottom: 0
}

.site-footer > .container:last-child > * {
    border-bottom: none;
}

.site-footer .copyright-wrap {
    display: flex;
    padding-top: 16px;
    justify-content: space-between
}

.site-footer .copyright-wrap .left {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px
}

.site-footer .copyright-wrap .right {
    display: flex;
    width: 525px;
    flex-direction: column;
    gap: 8px
}