/* ## Navigation Menu
--------------------------------------------- */
.navigation {
    background: #fff;
    border-top: 1px solid rgba(0,0,0,.08);
    box-shadow: 0 3px 5px rgba(0,0,0,.1)
}

.navigation.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000
}

.navigation .menu-wrap {
    display: flex
}

.navigation .main {
    position: relative
}

.navigation .main .menu-heading {
    color: var(--gray-900,#212529);
    font-weight: 600;
    text-transform: capitalize;
    padding: 0 5px;
    height: 46px;
    display: flex;
    align-items: center;
    white-space: nowrap
}

@media screen and (min-width: 1280px) {
    .navigation .main .menu-heading {
        font-size:13px;
        text-transform: uppercase;
        padding: 0 10px
    }
}

.navigation .main:hover .menu-heading {
    color: var(--primary,#d72027);
    background: var(--gray-100,#f8f9fa)
}

.navigation .main:hover .submenu {
    display: block
}

@media (max-width: 1024px) {
    .navigation .main:not(.home):not(.search):not(.menu) {
        display:none
    }
}

.navigation .main.active:not(.home):not(.search):not(.menu) {
    border-bottom: 1px solid var(--primary,#d72027);
    margin-bottom: -1px
}

.navigation .main.active:not(.home):not(.search):not(.menu) .menu-heading {
    color: var(--primary,#d72027)
}

.navigation .submenu {
    display: none;
    position: absolute;
    z-index: 3;
    min-width: 200px;
    padding: 8px 0;
    background: #fff;
    border-top: 1px solid rgba(0,0,0,.08);
    box-shadow: 0 3px 5px rgba(0,0,0,.1)
}

.navigation .submenu a {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px 20px
}

.navigation .submenu a:hover {
    background: #eee
}

.navigation .home {
    margin-right: 8px;
    border-left: 1px solid rgba(0,0,0,.08);
    border-right: 1px solid rgba(0,0,0,.08)
}

.navigation .home .menu-heading {
    font-size: 24px;
    color: var(--primary,#d72027);
    width: 46px;
    justify-content: center
}

.navigation .home.active {
    background: var(--gray-100,#f8f9fa)
}

.navigation .menu-btn,.navigation .search-btn {
    font-size: 24px;
    color: var(--gray-600,#6c757d);
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer
}

.navigation .menu-btn:hover,.navigation .search-btn:hover {
    color: var(--primary,#d72027)
}

.navigation .dropdown-menu {
    display: none;
    padding: 10px 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    background: var(--gray-100,#f8f9fa);
    border: 0;
    border-top: 1px solid rgba(0,0,0,.08);
    box-shadow: 0 3px 5px rgba(0,0,0,.1);
    max-height: 610px;
    overflow: auto;
    border-radius: 0;
}

.navigation .dropdown-menu::-webkit-scrollbar {
    width: 4px;
    border-radius: 6px
}

.navigation .dropdown-menu::-webkit-scrollbar-track {
    background: rgba(0,0,0,.05)
}

.navigation .dropdown-menu::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.1);
    border-radius: 10px
}

@media (min-width: 1200px) {
    .navigation .dropdown-menu {
        max-height:768px
    }
}

.navigation .search {
    position: inherit;
    margin-left: auto
}

.navigation .search input {
    font-size: 14px;
    color: var(--gray-600,#6c757d);
    padding-left: 20px;
    width: 75%;
    background: 0 0;
    border: 0 none
}

.navigation .search input::placeholder {
    color: var(--gray-600,#6c757d)
}

.navigation .search .btn {
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background: var(--secondary,#b40c0e);
    padding: 0 16px;
    margin-right: 3px;
    height: 34px;
    display: flex;
    align-items: center;
    border-radius: 20px
}

.navigation .search.active {
    border-left: 1px solid rgba(0,0,0,.08)
}

.navigation .search.active .ic-search:before {
    content: "\e90f"
}

.navigation .search-form {
    width: 400px;
    height: 40px;
    background: #fff;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 20px;
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

@media (min-width: 1200px) {
    .navigation .search-form {
        margin-left:calc(50% + 185px)
    }
}

.navigation .menu {
    position: inherit;
    border-left: 1px solid rgba(0,0,0,.08);
    border-right: 1px solid rgba(0,0,0,.08)
}

.navigation .menu.active .ic-menu:before {
    content: "\e90f"
}

.navigation .menu:hover .menu-btn {
    background: var(--gray-100,#f8f9fa)
}
/* ## End Navigation Menu
--------------------------------------------- */

.mega-menu {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px 0
}

@media (min-width: 1200px) {
    .mega-menu {
        grid-template-columns:repeat(6,1fr)
    }
}

.menu-col a {
    font-size: 13px;
    color: var(--gray-600,#6c757d);
    padding: 3px 0
}

.menu-col a:hover {
    text-decoration: underline
}

.menu-col a:first-child {
    font-size: 16px;
    color: var(--gray-800,#343a40);
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 3px
}
